.widgetWrapper {
  padding: 15px 25px;
  background: var(--widget-dark);
  border-radius: 6px;
  box-shadow: 1px 1px 10px -5px rgb(0 0 0 / 80%);
  font-size: 16px;
}

.widgetTitle {
  color: #fff;
  font-size: 1.2em;
  display: block;
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.widgetList {
}

.widgetList > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.widgetListScroll {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.widgetCard {
  padding: 0 15px 15px;
  width: 33.33%;
  box-sizing: border-box;
}

.widgetCardWrapper {
  height: 100%;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.widgetCardWrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.widgetCardWrapper:hover:before {
  transition: opacity 0.3s;
  opacity: 0.6;
}
.widgetCardWrapper:hover .widgetCardTitle {
  opacity: 1;
}
.widgetCardWrapper:hover .widgetCardRating {
  opacity: 1;
  top: 40%;
}

.widgetCardTitle {
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  color: var(--widget-success);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px 15px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
}

.widgetCardPoster,
.widgetCardPosterEmpty {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 250px;
}

.widgetCardPosterEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widgetCardPosterEmpty img {
  width: 80px;
  height: auto;
  display: block;
}

.widgetCardRating {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
}

.widgetCardRatingTitle {
  display: block;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
  padding-bottom: 5px;
}

.widgetCardRatingProgress {
  height: 30px;
  width: 100%;
  display: block;
  background: var(--widget-dark);
  position: relative;
  padding: 2px 0;
  box-sizing: border-box;
  border-radius: 3px;
}

.widgetCardRatingProgressBar {
  background: var(--widget-success);
  height: 100%;
  border-radius: 3px;
}

.widgetCardRatingText {
  position: absolute;
  font-size: 0.75em;
  color: #fff;
  font-weight: 700;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
